.profileHeader {
  margin-bottom: 7%;
  justify-content: flex-start;
  display: flex;

  .info {
    margin-left: 25%;
  }

  .stats {
    display: flex;
    > span {
      margin: 0 10px 0 0;
    }
  }
}
