.grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.container 
{

    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 95%;

    .header 
    {
        grid-column: 1 / span 5;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #15181e;
        .site-title
        {
            color: #fff;
            font-weight: 300;
            font-size: 28px;
            text-align: left;
            text-decoration: none;
            line-height: 58px;
        }
        .user-nav 
        {
            display: inherit;
            position: absolute;
            text-decoration: none;
            right: 20px;
            list-style: none;
            .user-nav-item
            {
                padding: 5px;
            }
        } 
        nav 
        {
            align-items: center;
            display: flex;
            background: #1a1d24;
            height: 40px;
            .nav-menu
            {
                border-radius: 2px 2px 0px 0px;
                background: #1a1d24;
                li
                {
                    display: inline-block;
                    a 
                    {
                        padding: 12px 18px 8px;
                        font-size: 13px;
                        color: rgba(255,255,255,0.6);
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .forum
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .content 
    {
        grid-column: 1 / span 5;
        display: flex;
        font-size: 14px;
        line-height: 1.5;
        .content-area
        {
            width: 100%;
        }
    }
    .sidebar 
    {
        display: flex;
        grid-column: span 2;
        width: 25%;
    }

    .footer 
    {
        display: flex;
        grid-column: 1 / span 5;
        position: relative;
        height: 30%;
        clear: both;
        padding-top: 30px;
    }

}
.user-menu
{
    position: relative;
    display: inline-block;

    .dropdown-content 
    {
        display: none;
        position: absolute;
        background: #0c0e12;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 1px;

        a 
        {
            color: #686f7d;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            text-align: left;
            line-height: 1.4;
            &:hover 
            {
                background-color: #f1f1f1
            }
        }
    }

    &:hover  .dropdown-content 
    {
        display: block;
    }
}
