.post 
{
    display: flex;
    margin-top: 1%;
    background: #0d0f13;
    padding-top: 15px;
    overflow: hidden;
    color: #fff;

    .topic_title
    {
        color:#fff;
        font-size: 28px;
        font-weight: 400;
        line-height: 1.2;
    }

    .post-author
    {
        margin: 0 1% 15px 0;
        border-left: 0;
        padding: 5px 1%;
        width: 20%;

        .author-avatar
        {
            img 
            {
                border-radius: 100px;
                width: 120px;
                height: 120px;
            }
        }
        .author-information
        {
            padding: 0;
            text-align: center;
        }
        .author-statistics 
        {
            margin: 6px 0 0 0;
            padding: 6px 6px 3px 6px;
            color: #666;
            font-size: 10px;
            font-weight: bold;
            text-align: left;

            .user-info {
                padding: 2px;
                font-size: 12px;
                line-height: 26px;
            }
        }
    }
    .post-content 
    {
        padding: 0 1% 5px 1%;
        width: 79%;
        text-align: left;

        .post-head 
        {
            margin-bottom: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            .post-date 
            {
                color: #666;
            }
        }
        .post-content
        {
            padding: 12px 0;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.post-reply 
{
    margin-top: 15px;
    background: #1a1d24;
    width:100%;

    textarea
    {
        margin-bottom: 10px;
        background: #15181e;
        border-radius: 0;
        border-color: rgba(0,0,0,0.1);
        padding: 15px;
        width: 95%;
        min-height: 200px;
        color: #fff;
        font-size: 14px;
    }
}

.largetext {
    margin-bottom: 8px;
    font-size: 16px;
}