{% extends "base.twig" %}
{% block content %}
    <div class="setting__wrapper">
        <form method="post" action="/settings.php?uid={{data.0.id}}" class="form">
            <label> Email Address </label>
            <input name="email" type="email" value="{{data.0.email}}" />

            <label> Display name </label>
            <input name="display_name" type="text" value="{{data.0.name }}" />

            <label> Password </label>
            <input name="password" type="password" />
            
            <input type="submit" value="Save" />
        </form>
    </div>
{% endblock %}