{% extends "base.twig" %}
{% block content %}
    <div class="content__wrapper">
        {% for error in session.errors %}
		    <div class="error">{{error}}</div>
		{% endfor %}
        <form method="post" action="/settings/save/{{data.0.id}}" class="form">
            <label> Email Address </label>
            <input name="email" type="email" value="{{data.0.email}}" class="form__input" aria-label="Email address"/>

            <label> Display name </label>
            <input name="display_name" type="text" value="{{data.0.name }}" class="form__input" aria-label="Name" />

            <label> Password </label>
            <input name="password" type="password" class="form__input" aria-label="Password"/>
            
            <input type="submit" value="Save" class="form__input" aria-label="Save" />
        </form>
    </div>
{% endblock %}