<div class="brand">
    <h3>phpBoard</h3>
</div>
<div class="header_section">
    {% if session.user_logged_in is null %}
        {% include "layout/header_guest.twig" %}
    {% else %}
        {% include "layout/header_user.twig" %}
    {% endif %}
</div>
