<a href="/user/profile/{{session.login}}">
    <img src="https://lh3.googleusercontent.com/-VPkhip3osug/AAAAAAAAAAI/AAAAAAAAAHc/w2Ae1JmeUMo/photo.jpg?sz=48" class="userTinyPhoto"/>
</a>
<a href="/user/logout">Logout</a>