<nav role="navigation">
    <ul class="menu">
        <li class="menu__item">
            <i class="fas fa-question-circle"></i> <a href="/">Questions</a>
        </li>
        <li class="menu__item">
            <i class="fas fa-users"></i> <a href="/user/list">Users</a>
        </li>
        <li class="menu__item">
            <i class="fas fa-user-alt"></i> <a href="/user/profile/{{session.login}}">Profile</a>
        </li>
        <li class="menu__item">
            <i class="fas fa-bullhorn"></i> <a href="/question/create">Ask question</a>
        </li>
        <li class="menu__item">
            <i class="fas fa-cog"></i> <a href="/settings">Settings</a>
        </li>
    </ul>
</nav>