<nav role="navigation">
    <ul class="nav-link">
        <li><i class="fas fa-question-circle"></i> <a href="/">Questions</a></li>
        <li><i class="fas fa-users"></i> <a href="/user/user">Users</a></li>
        <li><i class="fas fa-user-alt"></i> <a href="/user/profile">Profile</a></li>
        <li><i class="fas fa-bullhorn"></i> <a href="/question/create">Ask question</a></li>
        <li><i class="fas fa-cog"></i> <a href="/settings">Settings</a></li>
    </ul>
</nav>