.footer 
{
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
}

body > main.container
{
    margin-top: 35px;
} 

.categoryTitle 
{
    background-color: #4575B4;
    font-size: 15px;
    padding: 25px 25px 0;
    box-sizing: border-box;
    line-height: 28px;
    height: 73px;
}

.categoryTitle a, .categoryTitle p
{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
.cForums 
{
    background-color: #FAFAFA;
    display: block;
    list-style-type: none;
    margin: 0;
}
.cForumList
{
    width: 100%;
    display: table;
    table-layout: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.cForumMain, .cForumStats, .cForumIcon, .cForumRow
{
    padding: 12px 0;
    display: flex;
}

.cForumIcon
{
    padding: 0 !important;
    margin: 15px;
    min-width: inherit;
    width: 45px;
}
.cForumTitle, .cForumTitle:hover, .cForumTitle:visited
{
    color: #555555;
    text-decoration: none;
}
.cForumTitle 
{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.cForumMain
{
    width: 45%;
}
.cForumStats
{
    width: 15%;
    min-width: 150px;
    text-align: center;
    list-style: none;
}
.cForumStats dt, .cForumStats dd 
{
    margin-left: 0;
}
.cForumStats dl>dt, .cForumStats dl>dd
{
    display: inline;
}