{% extends 'base.twig' %}
{% block content %}
    <section class="forum">
        <header class="page-header">
            <h2 class="page-title">Topics</h2>
        </header>
        <ul class="cForumList">
            {% for topic in topics %}
                <li class="cForumRow"> 
                    <div class="cForumIcon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="cForumMain">
                        <a class="cForumTitle" href="/topic/show/{{topic.id}}-topic">{{topic.title}}</a>
                    </div>
                    <div class="cForumStats">
                        <dl>
                            <dt>{{topic.replies}}</dt>
                            <dd>Replies</dd>
                        </dl>
                    </div>             
                </li>
                {% else %}
                    <li class="cForumRow">No topics found</li>
            {% endfor %}
        </ul>
    </section>    
{% endblock %}