{% extends 'base.twig' %}
{% block content %}
    <ol class="List_reset">
        {% for category in categories %}
            <li><a href="/category/category/{{category|split('-')[0]}}-forum">{{category|split('-')[1]}}</a></li>
        {% endfor %}
    </ol>
{% endblock %}