{% extends 'base.twig' %}
{% block content %}
    <section class="forum">
        <header class="page-header">
            <h2 class="page-title">Forums</h2>
        </header>
        <ul class="cForumList">
            {% for forum in forums %}
                <li class="cForumRow"> 
                    <div class="cForumIcon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="cForumMain">
                        <a class="cForumTitle" href="/category/category/{{forum.id}}-forum">{{forum.title}}</a>
                    </div>
                    <div class="cForumStats">
                        <dl>
                            <dt>{{forum.posts}}</dt>
                            <dd>Posts</dd>
                        </dl>
                    </div>             
                </li>
                {% else %}
                    <li class="cForumRow">No subforum found</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}