{% extends "settings/settings.twig" %}
{% block settings %}
    <header class="page-header">
        <h2 class="page-title" style="text-align: center">Change Email</h2>
    </header>

    <form method="post" action="/settings.php?uid={{id}}">
        <div class="input-wrap">
            <span>New email</span>
            <input class="input" type="email" name="email" data-validate="Wrong email" required/>
        </div>
        <input class="button" type="submit" value="Save" />
    </form>
{% endblock %}