{% extends "settings/settings.twig" %}
{% block settings %}
    <ul class="data_list">
        <li class="data_item">
            <div class="data_item_main">
                <h4 class="data_title">Email</h4><br>
                {{email}}
            </div>
        </li>

        <li class="data_item">
            <div class="data_item_main">
                <h4 class="data_title">Password</h4><br>
                ********
            </div>
        </li>
    </ul>
{% endblock %}