{% extends "settings/settings.twig" %}
{% block settings %}
    <h2 class="sectionHead">Change password</h2>
    <form method="post" action="/settings.php?uid={{id}}">
        New email
        <input type="password" name="password" />
        <input type="submit" value="Save" />
    </form>
{% endblock %}