{% extends "base.twig" %}
{% block content %}
    <section class="content">
        <div style="background: #1a1d24;" class="Columns">
            <aside class="Column"  style="width: 280px;">
                <ul class="menu_list">
                    <li><a href="/settings/overview" class="menu_item">Overview</a></li>
                    <li><a href="/settings/email" class="menu_item">Email</a></li>
                    <li><a href="/settings/password" class="menu_item">Password</a></li>
                </ul>
            </aside>
            <section class="Column"> 
                {% block settings %}{% endblock %}
            </section>
        </div>
    </section>
{% endblock %}