{% extends 'base.twig' %}
{% block content %}
<form method="POST" action="/register/register" class="form">
		<label>Username</label>
		<input type="text" 
			class="form__input"
			name="username" 
		    placeholder="Username"
			required
		/>


		<label>Password</label>
		<input type="password"
			class="form__input"
			name="password" 
		    placeholder="Password"
			required
		/>

		<label>Email</label>
		<input type="email" 
			class="form__input"
		    name="email" 
			placeholder="Email"
			required
		/>

	<input type="submit" value="Sign in" aria-label="Sign in"/>

</form>

{% endblock %}