{% extends 'base.twig' %}
{% block content %}
	<form method="POST" action="/register/register" class="form">
			<h2>Register</h2>

			{% for error in session.errors %}
				<div class="error">{{error}}</div>
			{% endfor %}

			<input type="text" 
				class="form__input"
				name="username" 
				placeholder="Username"
				required
			/>

			<input type="password"
				class="form__input"
				name="password" 
				placeholder="Password"
				required
			/>
			
			<input type="email" 
				class="form__input"
				name="email" 
				placeholder="Email"
				required
			/>
		<input type="submit" value="Sign in" aria-label="Sign in"/>

	</form>

{% endblock %}