{% extends "admin/base_admin.twig" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h6>{{session.login}}</h6>
        </div>  
    </nav>
    <div class="container-fluid">
        <ul class="list-unstyled stats">
            <li><i class="fas fa-users"></i>{{data.users}}</li>
            <li><i class="fas fa-question"></i>{{data.questions}}</li>
            <li><i class="fas fa-comments"></i>{{data.posts}}</li>
        </ul>
    </div>
{% endblock %}