<div class="sidebar__header">
    <h3>phpBoard</h3>
</div>
<ul class="list-unstyled components">
    <li> 
        <a href="/admin">Dashboard</a>
    </li>
    <li>
        <a href="#">Users</a>
    </li>
</ul>