{% extends 'base.twig' %}
{% block content %}
<form method="POST" action="{{ link }}" class="form">
		<label>Username</label>
		<input type="text" 
			class="form__input"
			name="loginName" 
		    placeholder="Username"
		/>

		<label>Password</label>
		<input type="password" 
			class="form__input"
            name="loginPass" 
		    placeholder="Password"
		/>
    <input type="submit" value="Log in" aria-label="Log in"/>
</form>
{% endblock %}