{% extends 'base.twig' %}
{% block content %}
<form method="POST" action="{{ link }}" class="form">
		<div class="input-wrap">
		<label for="username">Username</label>
		<input type="text" 
			   class="input" 
			   id="username" 
			   name="loginName" 
		       placeholder="Username"
		/>
	</div>
    <div class="input-wrap">
		<label for="password">Password</label>
		<input type="password" 
			   class="input" 
			   id="password" 
               name="loginPass" 
		       placeholder="Password"
		/>
	</div>
    <button type="submit" class="button">Sign in</button>
</form>
{% endblock %}