{% extends 'base.twig' %}
{% block content %}
    <div class="profile">
        <header class="profile__header">
            <div class="profile__header_avatar">
                <img src="{{user.0.avatar_url}}" alt="{{user.0.name}}" class="user__photo user__photo_large">
            </div>
            <div class="profile__user_detail">
                <h1>{{ user.0.name }}</h1>
                <span>{{ user.0.join_date|date('d/m/Y')}}</span>
            </div>
        </header>
        <div class="profile__content">
            <h4>User content</h4>
        </div>
    </div>
{% endblock %}
