    <header class="header">
        <div class="container">
            <a href="/index/index" class="site-title">My Forum</a>
            <ul class="user-nav">
                {% if session.login is null %}
                    {% include 'layout/header_guest.twig' %}
                {% else %}
                    {% include 'layout/header_user.twig' %}
                {% endif %}   
            </ul>
        </div>
    <nav>
            <ul class="nav-menu">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/user/user">Users List</a>
                </li>
            </ul>
    </nav>
    </header>
