<nav role="navigation">
    <ul class="nav-link" style="margin-left: 15%;">
        <div>Menu</div>
        <li><i class="fas fa-home"></i> <a href="/">Home</a></li>
        <li><i class="fas fa-users"></i> <a href="#">Users</a></li>
        <div>Dashboard</div>
        <li><i class="fas fa-user-alt"></i> <a href="#">Profile</a></li>
        <li><i class="far fa-question-circle"></i> <a href="#">Your questions</a></li>
        <li><i class="far fa-comment"></i> <a href="#">Your answers</a></li>
        <li><i class="fas fa-cog"></i> <a href="#">Settings</a></li>
    </ul>
</nav>