{% extends "base.twig" %}
{% block content %}
{% for user in user %}
    <section class="wrapper">
        <header>
            <div class="profile_header row">
                <div class="profile_photo col-sm-2">
                    <img src="/uploads/avatars/{{user.avatar_url}}" class="userPhoto"/>
                </div>
                <div class="col-sm-4">
                   <h1 class="profile_username"> {{user.name}} </h1>
                   <span>Group</span>
                </div>
            </div>
            <div class="profile_stats">
                <div>
                    <h4>Posts</h4>
                    {{user.posts}}
                </div>

                <div>
                    <h4>Join date</h4>
                    {{user.join_date|date}}
                </div>
            </div>
     </header>
        <section class="profile_content">
    
        </section>
    </section>
    {% endfor %}
{% endblock %}
