{% extends 'base.twig' %}
{% block content %}
    <section class="content-area">
        <header class="page-header">
            <h1 class="page-title">Member List</h1>
        </header>
        <ul class="user-list">
        {% for user in users %}
            <li class="cForumRow"> 
                <div class="cForumMain">
                   <a class="cForumTitle" href="/user/profile/{{user.id}}-user"> {{ user.name }} </a>
                </div>
                <div class="cForumStats">
                    <dl>
                        <dt>{{user.posts}}</dt>
                        <dd>Posts</dd>
                    </dl>
                </div>
            </li>
        {% endfor %}
    </section>
{% endblock %}